* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body, html {
  margin: 0; padding: 0;
}

p.empty-results {
  position: relative;
  top: 50%;
  margin: 0;
  text-align: center;
  color: #C0C0C0;
  transform: translateY(-100%)
}

@media (max-width: 980px) {
  body, html {
    font-size: 70%;
  }
}
@media (max-width: 768px) {
  body, html {
    font-size: 55%;
  }
}

/* TRANSITIONS */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@-webkit-keyframes fadeOutDown {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0); } }

@keyframes fadeOutDown {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0); } }

.fade-enter-active, .fadeIn,
.fade-leave-active, .fadeOut {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

.fade-enter-active, .fadeIn {
  -webkit-animation-name: "fadeIn";
          animation-name: "fadeIn"; }

.fade-leave-active, .fadeOut {
  -webkit-animation-name: "fadeOut";
          animation-name: "fadeOut"; }

.fadeDown-enter-active, .fadeInDown,
.fadeDown-leave-active, .fadeOutDown {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

.fadeDown-enter-active, .fadeInDown {
  -webkit-animation-name: "fadeInDown";
          animation-name: "fadeInDown"; }

.fadeDown-leave-active, .fadeOutDown {
  -webkit-animation-name: "fadeOutDown";
          animation-name: "fadeOutDown"; }